{% extends 'layout.html' %}
   {% block content %}


    <div class="brand-container">

<h3>new brand</h3>
<!--flash_message-->
<div class="brand-container alert">
{% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages  %}
  {% for category, message in messages  %}
   <div class="login_alert">
    {{ message }}
   </div>
  {% endfor %}
 {% endif %}
{% endwith %}
</div>
<!--end_flash_message-->



    <div class="brand-container">
      <form method="POST" action="">
{{ form.name(class="addnewproductinput", placeholder="add new brand", type="text") }}
{{ form.submit(type="submit", value="add new brand",  class="addnewproductinput") }}
       <!--style my own error forms-->
       {% if form.name.errors %}
        {{ form.csrf_token }}
        <div class="Field_is_not_matching">
        {% for error in form.name.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ name }}
        {% endif %}
       <!--end style error forms-->
      </form>
    </div>


                    <label for="brand">current brands</label>
                    {% if get_brands %}
                      <div value="{{get_brands.brand_id}}">{{get_brands.brand.name}}</div>
                      {% for brand in brands %}
                      <div value="{{brand.id}}">{{brand.name}}</div>
                      {% endfor %}
                     {% else %}
                     {% for brand in brands %}
                     <div value="{{brand.id}}">{{brand.name}}</div>
                     {% endfor %}
                     {% endif %}



    {% endblock content %}
