{% extends 'layout.html' %}
   {% block content %}
        <main  class="B-C">

    <div class="alert-container">

<!--flash_message-->
<div class="alert-container brand-info">
{% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages  %}
  {% for category, message in messages  %}
   <div class="login_alert">
    {{ message }}
   </div>
  {% endfor %}
 {% endif %}
{% endwith %}
</div>
<!--end_flash_message-->


    <div class="alert-container">

      <form method="POST" action="">
{{ form.csrf_token }}
{{ form.name(placeholder="TYPE YOUR NEW BRAND", type="text",class="addnewproductinput") }}

       <!--style my own error forms-->
       {% if form.name.errors %}
        <div>
        {% for error in form.name.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ name }}
        {% endif %}
       <!--end style error forms-->
       {{ form.submit(type="submit", value="ADD BRAND",class="addnewproductinput") }}
      </form>
    </div>
   </div>
</main>

    {% endblock content %}
