{% extends 'layout.html' %}
{% block content %}

<main>

<!--flash msg-->
<div class="alert-container brand-info">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div>
     {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
<!--end flash msg-->


                <form method="POST" enctype="multipart/form-data" action="New_Product">
           
                <div>
                   <h3>Product Name</h3>
                   {{ form.name(class="") }}
                   {% if form.name.errors %}
                   <div>
                   {% for error in form.name.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ name }}
                   {% endif %} 


                   <h3>Prouct Price</h3>
                   {{ form.price(class="") }}
                   {% if form.price.errors %}
                   <div>
                   {% for error in form.price.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ price }}
                   {% endif %}
                   

                   <h3>Product Discount</h3>
                   {{ form.discount(class="") }}
                   {% if form.discount.errors %}
                   <div>
                   {% for error in form.discount.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ discount }}
                   {% endif %}




                   <h3>Product Stock</h3>
                   {{ form.stock(class="") }}
                   {% if form.stock.errors %}
                   <div>
                   {% for error in form.stock.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ stock }}
                   {% endif %} 



                   <h3>Product colors</h3>
                   {{ form.colors }}
                   {% if form.colors.errors %}
                   <div>
                   {% for error in form.colors.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ colors }}
                   {% endif %} 


                   <h3>Product desc</h3>
                   {{ form.desc(class="") }}
                   {% if form.desc.errors %}
                   <div>
                   {% for error in form.desc.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ desc }}
                   {% endif %} 

                  </br>
                   <label for="brand">Select a brand</label>
                    <select name="brand" id="brand" required>
                        {% if getproduct %}
                        <option value="{{getproduct.brand_id}}" style="display: none;">{{getproduct.brand.name}}</option>
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.form.name}}</option>
                        {% endfor %}
                       {% else %}
                     <option value=""> Select A brand</option>
                     {% for brand in brands %}
                     <option value="{{brand.id}}">{{brand.form.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>

                  </br>

                    <label for="category">Select a category</label>
                    <select name="category" id="category" class="" required>
                    {% if getproduct %}
                      <option value="{{getproduct.category_id}}" style="display: none;">{{getproduct.category.name}}</option>
                      {% for category in categories %}
                      <option value="{{category.id}}">{{category.name}}</option>
                      {% endfor %}
                     {% else %}
                     <option value=""> Select A category</option>
                     {% for category in categories %}
                     <option value="{{category.id}}">{{category.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>

                    <div class="row">
                        {% if getproduct %}

                        <div>
                            <input type="file" name="image_1" id="form.image_1">
                            <a href="{{url_for('static',filename='images/' + getproduct.image_1)}}"> images/{{ getproduct.image_1}}</a>
                        </div>

                        <div> 
                            <input type="file" name="image_2" id="form.image_2"> 
                            <a href="{{url_for('static',filename='images/' + getproduct.image_2)}}">images/{{ getproduct.image_2}}</a>
                        </div>
                        
                        <div>
                            <input type="file" name="image_3" id="form.image_3"> 
                            <a href="{{url_for('static',filename='images/' + getproduct.image_3)}}"> image/{{ getproduct.image_3}}</a>
                        </div>
                      
                        {% else %}

                   <h3>Prouct image_1</h3>
                   {{ form.image_1(class="") }}
                   {% if form.image_1.errors %}
                   <div>
                   {% for error in form.image_1.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ image_1 }}
                   {% endif %}


                   <h3>Prouct image_2</h3>
                   {{ form.image_2(class="") }}
                   {% if form.image_2.errors %}
                   <div>
                   {% for error in form.image_2.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ image_2 }}
                   {% endif %}


                   <h3>Prouct image_3</h3>
                   {{ form.image_3(class="") }}
                   {% if form.image_3.errors %}
                   <div>
                   {% for error in form.image_3.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ image_3 }}
                   {% endif %}


                        {% endif %}
                    </div>
                </div>
                {{ form.submit(type="submit", value="add new product", class="addnewproductinput") }}
                </form>
        </main>
{% endblock content %}
