{% extends 'layout.html' %}
{% block content %}

<main>
<div class="alert-container">
<!--flash msg-->
<div class="alert-container brand-info">
  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages  %}
    {% for category, message in messages  %}
     <div class="login_alert">
      {{ message }}
     </div>
    {% endfor %}
   {% endif %}
  {% endwith %}
  </div>
<!--end flash msg-->

<div class="alert-container">
                <form method="POST" enctype="multipart/form-data" action="">
                  {{ form.hidden_tag() }}
                  {{ form.csrf_token }}
                <div>
                   <p>Product Name</p>
                   {{ form.name(class="") }}
                   {% if form.name.errors %}
                   <div>
                   {% for error in form.name.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ name }}
                   {% endif %} 


                   <p>Prouct Price</p>
                   {{ form.price(class="") }}
                   {% if form.price.errors %}
                   <div>
                   {% for error in form.price.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ price }}
                   {% endif %}
                   

                   <p>Product Discount</p>
                   {{ form.discount(class="") }}
                   {% if form.discount.errors %}
                   <div>
                   {% for error in form.discount.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ discount }}
                   {% endif %}




                   <p>Product Stock</p>
                   {{ form.stock(class="") }}
                   {% if form.stock.errors %}
                   <div>
                   {% for error in form.stock.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ stock }}
                   {% endif %} 



                   <p>Product colors</p>
                   {{ form.colors }}
                   {% if form.colors.errors %}
                   <div>
                   {% for error in form.colors.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ colors }}
                   {% endif %} 


                   <p>Product desc</p>
                   {{ form.desc(class="") }}
                   {% if form.desc.errors %}
                   <div>
                   {% for error in form.desc.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% else %}
                   {{ desc }}
                   {% endif %} 

                  </br>

                  <label for="brand">Select a brand</label>
                  <select name="brand" id="brand" required>
                      {% if getproduct %}
                      <option value="{{getproduct.brand_id}}">{{getproduct.brand.name}}</option>
                      {% for brand in brands %}
                      <option value="{{brand.id}}">{{brand.name}}</option>
                      {% endfor %}
                     {% else %}
                   <option value=""> --- </option>
                   {% for brand in brands %}
                   <option value="{{brand.id}}">{{brand.name}}</option>
                   {% endfor %}
                   {% endif %}
                  </select>

                </br>

                  <label for="category">Select a category</label>
                  <select name="category" id="category" class="" required>
                  {% if getproduct %}
                    <option value="{{getproduct.category_id}}">{{getproduct.category.name}}</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                   {% else %}
                   <option value=""> --- </option>
                   {% for category in categories %}
                   <option value="{{category.id}}">{{category.name}}</option>
                   {% endfor %}
                   {% endif %}
                  </select>


                    <div class="row">
          
                        {% if product %}
                        <div>
                            <input type="file" name="image_1" value="{{product.image_1}}">
                            <a href="{{url_for('static', filename='images/product_img/' + product.image_1)}}">image_1{{product.image_1}}</a>
                        </div>

                        <div> 
                            <input type="file" name="image_2" value="{{product.image_2}}"> 
                            <a href="{{url_for('static', filename='images/product_img/' + product.image_2)}}">image_2{{product.image_2}}</a>
                        </div>
                        
                        <div>
                            <input type="file" name="image_3" value="{{product.image_3}}"> 
                            <a href="{{url_for('static', filename='images/product_img/' + product.image_3)}}">image_3{{product.image_3}}</a>
                        </div>
                        
                        {% else %}
                   <p>Prouct image_1</p>
                   {{ form.image_1(class="") }}
                   {% if form.image_1.errors %}
                   <div>
                   {% for error in form.image_1.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% endif %}


                   <p>Prouct image_2</p>
                   {{ form.image_2(class="") }}
                   {% if form.image_2.errors %}
                   <div>
                   {% for error in form.image_2.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% endif %}


                   <p>Prouct image_3</p>
                   {{ form.image_3(class="") }}
                   {% if form.image_3.errors %}
                   <div>
                   {% for error in form.image_3.errors %}
                   <span class="alert-red">{{ error }}<span>
                   {% endfor %}
                   </div>
                   {% endif %}


                   {% endif %}
             
                  </div>
                </div>
                {{ form.submit(type="submit", value="ADD PRODUCT") }}
                </form>
                </div>
</div>
              </main>
{% endblock content %}