{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel='stylesheet'>
  <title>Skander</title>
</head>

<body>
  <div class="login-form">
    <div class="bubble_1"></div>
    <div class="bubble_2"></div>
    <div class="form">
      <img src="{{ url_for('static', filename='img/1.gif')}}" alt="" class="gif_animation">
      <div class="box-styles">
        <form method="post" enctype="multipart/form-data" class="container_form" action="register">
        {{ form.hidden_tag() }}
         <h1 class="title_forms">Register</h1>
          <div class="form-box form-box_div">
            <div class="icon_forms">
              <i class='bx bx-user'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <!--<input type="text" class="form_label_input" placeholder="Email Adress">-->
              {{ form.email(class="form_label_input", placeholder="Your Email Adress", type="text")}}   
           </div>
          </div>
       <!--style my own error forms-->
       {% if form.email.errors %}
        <div class="Field_is_not_matching">
        {% for error in form.email.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ email }}
        {% endif %}
       <!--end style error forms-->
          <div class="form-box form-box_div">
            <div class="icon_forms">
              <i class='bx bx-user'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <!--<input type="text" class="form_label_input" placeholder="Your Full Name">-->
              {{ form.name(class="form_label_input", placeholder="Your Full Name", type="text")}}

           </div>
          </div>


          <div class="form-box form-box_div">
            <div class="icon_forms">
              <i class='bx bx-user'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <!--<input type="text" class="form_label_input" placeholder="Username">-->
              {{ form.username(class="form_label_input", placeholder="Username", type="text")}}
            </div>
          </div>

          <div class="form-box">
            <div class="icon_forms">
              <i class='bx bx-lock'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <!-- <input type="password" class="form_label_input" placeholder="Password"> -->
              {{ form.password(class="form_label_input", placeholder="New Password", type="password")}}
           </div>
          </div>


       <!--style error forms-->
        {% if form.password.errors %}
        <div class="Field_is_not_matching">
        {% for error in form.password.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ password }}
        {% endif %}
       <!--end style error forms-->




          <div class="form-box">
            <div class="icon_forms">
              <i class='bx bx-lock'></i>
            </div>

            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <!-- <input type="password" class="form_label_input" placeholder="Password"> -->
              {{ form.confirm(class="form_label_input", placeholder="Confirm Password", type="password") }}   
         </div>
          </div>


       <!--style error forms-->
        {% if form.confirm.errors %}
        <div class="Field_is_not_matching">
        {% for error in form.confirm.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ confirm }}
        {% endif %}
       <!--end style error forms-->






          <a href="{{ url_for('login') }}" class="register">Log in</a>
          <a href="#" class="forget-passwd">Forgot Password?</a>

          <input type="submit" class="submit-form" value="Login">

          <div class="form_social-media">
            <span class="form_social-media-login">Our login with</span>
            <div class="order_position-media">

              <a href="#" class="icon-social-login slack-hover"><i class='bx bxl-slack'></i></a>
              <a href="#" class="icon-social-login facebook-hover"><i class='bx bxl-facebook'></i></a>
              <a href="#" class="icon-social-login google-hover"><i class='bx bxl-google'></i></a>
              <a href="#" class="icon-social-login instagram-hover"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

</body>

</html>

{% endblock %}
