<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel='stylesheet'>
  <title>Skander</title>
</head>

<body>
  <div class="login-form">
    <div class="bubble_1"></div>
    <div class="bubble_2"></div>
    <div class="form">
      <img src="{{ url_for('static', filename='img/1.gif')}}" alt="" class="gif_animation">
      <div class="box-styles">
        <form action="" class="container_form">
          <h1 class="title_forms">Register</h1>

          <div class="form-box form-box_div">
            <div class="icon_forms">
              <i class='bx bx-user'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <input type="text" class="form_label_input" placeholder="Email">
            </div>
          </div>

          <div class="form-box form-box_div">
            <div class="icon_forms">
              <i class='bx bx-user'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <input type="text" class="form_label_input" placeholder="Username">
            </div>
          </div>

          <div class="form-box">
            <div class="icon_forms">
              <i class='bx bx-lock'></i>
            </div>
            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <input type="password" class="form_label_input" placeholder="Password">
            </div>
          </div>

          <div class="form-box">
            <div class="icon_forms">
              <i class='bx bx-lock'></i>
            </div>

            <div class="input-form">
              <label for="" class="form_label-input"></label>
              <input type="password" class="form_label_input" placeholder="Password">
            </div>
          </div>



          <a href="{{ url_for('login') }}" class="register">Log in</a>
          <a href="#" class="forget-passwd">Forgot Password?</a>

          <input type="submit" class="submit-form" value="Login">

          <div class="form_social-media">
            <span class="form_social-media-login">Our login with</span>
            <div class="order_position-media">

              <a href="#" class="icon-social-login slack-hover"><i class='bx bxl-slack'></i></a>
              <a href="#" class="icon-social-login facebook-hover"><i class='bx bxl-facebook'></i></a>
              <a href="#" class="icon-social-login google-hover"><i class='bx bxl-google'></i></a>
              <a href="#" class="icon-social-login instagram-hover"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

</body>

</html>

