                   <label for="brand">Select a brand</label>
                    <select name="brand" id="brand" required>
                        {% if getproduct %}
                        <option value="{{getproduct.brand_id}}" style="display: none;">{{getproduct.brand.name}}</option>
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.name}}</option>
                        {% endfor %}
                       {% else %}
                     <option value=""> Select A brand</option>
                     {% for brand in brands %}
                     <option value="{{brand.id}}">{{brand.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>










