{% extends 'CustomerP/layouat.html' %}
  {% block shop %}
  <section class="section products">
    <div class="products-layout container">
        <!-- category and brands -->
    <div class="col-1-of-4">
      <div class="brand-categ">
        <h3>Shop by Category</h3>
        <br>
        <br>
        <br>
        <br>
        <div>
          <div class="block-title">
            <h3>Category</h3>
          </div>
          {% for category in categories %}
          <ul class="block-content">
            <li>
              <!--<input type="checkbox" name="vfgcfg">-->
              <label><a href="{{url_for('Display_categories', id=category.id)}}">{{category.name}}</a>
                <small></small>
              </label>
            </li>
          </ul>
          {% endfor %}
        </div>
         <h3>Shop by Brand</h3>
         <br>
         <br>
         <br>
         <br>

        <div>
          <div class="block-title">
            <h3>Brands</h3>
          </div>
          {% for brand in brands %}
          <ul class="block-content">
            <li>
              <!--<input type="checkbox" name="hvbv">-->
              <label>
                <a href="{{url_for('Display_brands', id=brand.id)}}">{{brand.name}}</a>
                <small></small>
              </label>
            </li>
          </ul>
          {% endfor%}
        </div>
       </div>
      </div>
  <!-- end of category and brands -->

 <!-- sort_by-->
      <div class="col-3-of-4">
         <!-- sort_by-->
        <form>
          <div class="item">
            <label for="sort-by">Sort By</label>
            <select id="sort-by">
              <option value="title" selected="selected">Name</option>
              <option value="number">Price</option>
              <option value="search_api_relevance">Relevance</option>
              <option value="created">Newness</option>
            </select>
          </div>
          <div class="item">
            <label for="order-by">Order</label>
            <select name="order-by" id="order-by">
              <option value="ASC" selected="selected">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </div>
          <a href="">Apply</a>
        </form>
 <!-- end of sort_by-->


 <!-- products -->
<div class="product-layout">
<!-- if brand -->
{% if brand %}
 <!-- for loop get product by brand  -->
 {% for b in brand.items %}
 <!-- brand product discount -->
  {% if b.discount > 0 %}
  <!-- brand product stock -->
   {% if b.stock > 0 %}
    <div class="ruban left" data-ribbon="- {{b.discount}}%" style="">
     <div class="product">
      <div class="img-container">
       <div class="ruban left" data-ribbon="- {{b.discount}}%" style="">
        <a href="{{url_for('Product_detail', id=b.id)}}"><img src="{{url_for('static', filename='images/product_img/' + b.image_1)}}" alt="{{b.name}}" /></a> 
       </div>
       <div class="addCart">
        <form action="{{url_for('AddToCarts')}}" method="post">
          <div>
            {%  set colors=b.colors.split(",") %}
            <select name="colors" style="visibility: hidden;">
              
              <!--
              <option value="Select Size" selected disabled>
                Select Color
              </option>
              -->
              {% for color in colors %}
              {%  set colors=color.split(":") %}
              <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
           <label for="quantity" style="visibility: hidden;"> Quantity: </label>
           <input name="quantity" type="hidden" value="1" min="1" max="{{b.stock}}"/>
          <input  type="hidden" name="product_id" value="{{b.id}}">
          <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
        <!-- <a href="" class="addCart">Add To Cart</a>-->
        </form>
         <!-- <i class="fas fa-shopping-cart"></i>-->
       </div>
      </div>
      <div class="bottom">
        <a href="{{url_for('Product_detail', id=b.id)}}">{{b.name}}</a>
       <div class="price">
        <span>TND {{b.price | numberFormat}} </span>
       </div>
      </div>
     </div>
    </div>
   {% endif %}
  <!-- end of brand product stock -->
  {% else %}
  <!-- brand product stock -->
  {% if b.stock > 0 %}
     <div class="product">
     <div class="img-container">
      <a href="{{url_for('Product_detail', id=b.id)}}"><img src="{{url_for('static', filename='images/product_img/' + b.image_1)}}" alt="{{b.name}}" /></a>
       <div class="addCart">
        <form action="{{url_for('AddToCarts')}}" method="post">
          <div>
            {%  set colors=b.colors.split(",") %}
            <select name="colors" style="visibility: hidden;">
              
              <!--
              <option value="Select Size" selected disabled>
                Select Color
              </option>
              -->
              {% for color in colors %}
              {%  set colors=color.split(":") %}
              <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
           <label for="quantity" style="visibility: hidden;"> Quantity: </label>
           <input name="quantity" type="hidden" value="1" min="1" max="{{b.stock}}"/>
          <input  type="hidden" name="product_id" value="{{b.id}}">
          <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
        <!-- <a href="" class="addCart">Add To Cart</a>-->
        </form>
         <!-- <i class="fas fa-shopping-cart"></i>-->
       </div>
      </div>
      <div class="bottom">
       <a href="{{url_for('Product_detail', id=b.id)}}">{{b.name}}</a>
       <div class="price">
        <span>TND {{b.price | numberFormat}} </span>
       </div>
     </div>
    </div>
   {% endif %}
  <!-- end of brand product stock -->
   {% endif %}
  <!-- end of brand product discount -->
 {% endfor %}
 <!-- else if category -->
 {% elif category %}
 <!-- for loop get product by category  -->
 {% for c in category.items %}
 <!-- category product discount -->
 {% if c.discount > 0 %}
 <!-- category product stock -->
  {% if c.stock > 0 %}
   <div class="ruban left" data-ribbon="- {{c.discount}}%" style="">
    <div class="product">
     <div class="img-container">
      <div class="ruban left" data-ribbon="- {{c.discount}}%" style="">
        <a href="{{url_for('Product_detail', id=c.id)}}"><img src="{{url_for('static', filename='images/product_img/' + c.image_1)}}" alt="{{c.name}}"/></a>
     </div>
      <div class="addCart">
        <form action="{{url_for('AddToCarts')}}" method="post">
          <div>
            {%  set colors=c.colors.split(",") %}
            <select name="colors" style="visibility: hidden;">
              
              <!--
              <option value="Select Size" selected disabled>
                Select Color
              </option>
              -->
              {% for color in colors %}
              {%  set colors=color.split(":") %}
              <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
           <label for="quantity" style="visibility: hidden;"> Quantity: </label>
           <input name="quantity" type="hidden" value="1" min="1" max="{{c.stock}}"/>
          <input  type="hidden" name="product_id" value="{{c.id}}">
          <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
        <!-- <a href="" class="addCart">Add To Cart</a>-->
        </form>
         <!-- <i class="fas fa-shopping-cart"></i>-->
      </div>
     </div>
     <div class="bottom">
       <a href="{{url_for('Product_detail', id=c.id)}}">{{c.name}}</a>
      <div class="price">
       <span>TND {{c.price | numberFormat}} </span>
      </div>
     </div>
    </div>
   </div>
  {% endif %}
 <!-- category product stock -->
 {% else %}
 <!-- category product stock -->
 {% if c.stock > 0 %}
    <div class="product">
    <div class="img-container">
      <a href="{{url_for('Product_detail', id=c.id)}}"><img src="{{url_for('static', filename='images/product_img/' + c.image_1)}}" alt="{{c.name}}" /></a>
      <div class="addCart">
        <form action="{{url_for('AddToCarts')}}" method="post">
          <div>
            {%  set colors=c.colors.split(",") %}
            <select name="colors" style="visibility: hidden;">
              
              <!--
              <option value="Select Size" selected disabled>
                Select Color
              </option>
              -->
              {% for color in colors %}
              {%  set colors=color.split(":") %}
              <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
           <label for="quantity" style="visibility: hidden;"> Quantity: </label>
           <input name="quantity" type="hidden" value="1" min="1" max="{{c.stock}}"/>
          <input  type="hidden" name="product_id" value="{{c.id}}">
          <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
        <!-- <a href="" class="addCart">Add To Cart</a>-->
        </form>
         <!-- <i class="fas fa-shopping-cart"></i>-->
      </div>
     </div>
     <div class="bottom">
      <a href="{{url_for('Product_detail', id=c.id)}}">{{c.name}}</a>
      <div class="price">
       <span>TND {{c.price | numberFormat}} </span>
      </div>
    </div>
   </div>
   {% endif %}
  <!-- end of category product stock -->
   {% endif %}
  <!-- end of category product discount -->
 {% endfor %}
 <!-- end of for loop get product by category  -->
{% else %}
 <!-- for loop for getting a product.items list -->
 {% for product in products.items %}
   <!-- product discount -->
   {% if product.discount > 0 %}
     <!-- product stock -->
     {% if product.stock > 0 %}
       <div class="ruban left" data-ribbon="- {{product.discount}}%" style="">
        <div class="product">
         <div class="img-container">
          <div class="ruban left" data-ribbon="- {{product.discount}}%" style="">
            <a href="{{url_for('Product_detail', id=product.id)}}"><img src="{{url_for('static', filename='images/product_img/' + product.image_1)}}" alt="{{product.name}}" /></a>
          </div>
           <div class="addCart">
            <form action="{{url_for('AddToCarts')}}" method="post">
              <div>
                {%  set colors=product.colors.split(",") %}
                <select name="colors" style="visibility: hidden;">
                  
                  <!--
                  <option value="Select Size" selected disabled>
                    Select Color
                  </option>
                  -->
                  {% for color in colors %}
                  {%  set colors=color.split(":") %}
                  <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
                  {% endfor %}
                </select>
              </div>
               <label for="quantity" style="visibility: hidden;"> Quantity: </label>
               <input name="quantity" type="hidden" value="1" min="1" max="{{product.stock}}"/>
              <input  type="hidden" name="product_id" value="{{product.id}}">
              <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
            <!-- <a href="" class="addCart">Add To Cart</a>-->
            </form>
             <!-- <i class="fas fa-shopping-cart"></i>-->
           </div>
        </div>
          <div class="bottom">
            <a href="{{url_for('Product_detail', id=product.id)}}">{{product.name}}</a>
           <div class="price">
            <span>TND {{product.price | numberFormat}} </span>
           </div>
          </div>
          </div>
        </div>
      {% endif %}
      <!-- end product stock -->
    {% else %}
      <!-- product stock -->
      {% if product.stock > 0 %}
        <div class="product">
          <div class="img-container">
            <a href="{{url_for('Product_detail', id=product.id)}}"><img src="{{url_for('static', filename='images/product_img/' + product.image_1, product_id=product_id)}}" alt="{{product.name}}" /></a>
            <div class="addCart">
              <form action="{{url_for('AddToCarts')}}" method="post">
                <div>
                  {%  set colors=product.colors.split(",") %}
                  <select name="colors" style="visibility: hidden;">
                    
                    <!--
                    <option value="Select Size" selected disabled>
                      Select Color
                    </option>
                    -->
                    {% for color in colors %}
                    {%  set colors=color.split(":") %}
                    <option value="{{colors[0]}}" style="visibility: hidden;">{{ colors[0]|capitalize }}</option>
                    {% endfor %}
                  </select>
                </div>
                 <label for="quantity" style="visibility: hidden;"> Quantity: </label>
                 <input name="quantity" type="hidden" value="1" min="1" max="{{product.stock}}"/>
                <input  type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit"  class="addCart"><i class="fas fa-shopping-cart"></i></button>
              <!-- <a href="" class="addCart">Add To Cart</a>-->
              </form>
               <!-- <i class="fas fa-shopping-cart"></i>-->
            </div>
          </div>
          <div class="bottom">
            <a href="{{url_for('Product_detail', id=product.id)}}">{{product.name}}</a>
            <div class="price">
              <span>TND {{product.price | numberFormat}} </span>
            </div>
          </div>
        </div>
    {% endif %}
    <!-- end of product stock -->
   {% endif %}
   <!-- end of product discount -->
 {% endfor %}
<!-- end FOR loop for getting a product.items list -->
{% endif %}
<!-- END if brand -->
 </div>
<!-- END of products DIV TAG-->
















{% if products %}

 <div>
  <!--pagination links-->
  <ul class="pagination">
    {% if products.has_prev %}
    <li><a class="icon" href="{{url_for('CustomerP', page=products.prev_num)}}">&laquo</a></li>
    {% endif %}
    {% if products.total>6 %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if products.page == page_num %}
    <li><a class="icon" href="{{url_for('CustomerP', page=page_num)}}">{{page_num}}</a></li>
    {% else %}
    <li><a  class="icon" href="{{url_for('CustomerP', page=page_num)}}">{{page_num}}</a></li>
    {% endif %}
    {% else %}
    <div> &#x2840 &#x2840 </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if products.has_next %}
    <li><a class="icon" href="{{url_for('CustomerP', page=products.next_num)}}">&raquo</a></li>
    {% endif %}
      </ul>
  <!--end of pagination links-->
 </div>

{% elif category %}

 <div>
  <!--pagination links-->
  <ul class="pagination">
    {% if category.has_prev %}
    <li><a class="icon" href="{{url_for('Display_categories', id=c.id, page=category.prev_num)}}">&laquo</a></li>
    {% endif %}
    {% if category.total>6 %}
    {% for page_num in category.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if category.page == page_num %}
    <li><a class="icon" href="{{url_for('Display_categories', id=c.id, page=page_num)}}">{{page_num}}</a></li>
    {% else %}
    <li><a  class="icon" href="{{url_for('Display_categories', id=c.id, page=page_num)}}">{{page_num}}</a></li>
    {% endif %}
    {% else %}
    <div> &#x2840 &#x2840 </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if category.has_next %}
    <li><a class="icon" href="{{url_for('Display_categories', id=c.id, page=category.next_num)}}">&raquo</a></li>
    {% endif %}
      </ul>
  <!--end of pagination links-->
 </div>


{% else %}


<div>
  <!--pagination links-->
  <ul class="pagination">
    {% if brand.has_prev %}
    <li><a class="icon" href="{{url_for('Display_brands', id=b.id, page=brand.prev_num)}}">&laquo</a></li>
    {% endif %}
    {% if brand.total>6 %}
    {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if brand.page == page_num %}
    <li><a class="icon" href="{{url_for('Display_brands', id=b.id, page=page_num)}}">{{page_num}}</a></li>
    {% else %}
    <li><a  class="icon" href="{{url_for('Display_brands', id=b.id, page=page_num)}}">{{page_num}}</a></li>
    {% endif %}
    {% else %}
    <div> &#x2840 &#x2840 </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if brand.has_next %}
    <li><a class="icon" href="{{url_for('Display_brands', id=b.id, page=brand.next_num)}}">&raquo</a></li>
    {% endif %}
      </ul>
  <!--end of pagination links-->
 </div>


 {% endif %}




 
 </div>
</div>
</section>
{% endblock shop %}

  