<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/Customer.css" type="text/css">
  <link rel="stylesheet" href="admn.css" type="text/css">
  <link rel="stylesheet" href="static/css/styles.css">

  <script src="jquery-1.7.2.min.js"></script>
  <script src="script.js"></script>
  <script src="https://kit.fontawesome.com/651bb91b75.js" crossorigin="anonymous"></script>

</head>

<body>


  <header>
    <nav class="nav1">
      <a href="#" class="first-li-logo">Eco/Admin</a>

      <ul class="first-ul">

        <li class="first-li"><button onclick="myFunction()" class="dropbtn"><i class="fa fa-user" style="font-size:20px;"></i></button></li>
        <li id="myDropdown" class="dropdown-content">
          <ul class="first-ul-button">
            <li class="li-user-name"><a class="welcom-user" href="#">Welcom User!</a></li>
            <li class="first-li-button"><a class="first-a-link-button top-border" href="#"><i class="fa fa-balance-scale" aria-hidden="true"> Bans</i></a></li>
            <li class="first-li-button"><a class="first-a-link-button" href="#"><i class="fa fa-moon-o" aria-hidden="true"> Display</i></a></li>
            <li class="first-li-button"><a class="first-a-link-button" href="#"><i class="fa fa-question" aria-hidden="true"> Support</i></a></li>
            <!--SETTINGS AND LOGOUT WILL APEAR ALWAYS BY ROW(inline-block)-->
            <li class="first-s-l">
              <a class="first-a-link logout-settings l-r" href="#"><i class="fa fa-cog" aria-hidden="true"> Settigs</i></a>
              <a class="first-a-link logout-settings l-l" href="#"><i class="fa fa-sign-out" aria-hidden="true"> Log Out</i></a>
            </li>
          </ul>
          <li  class="first-li">
            <div class="add-cart-box">
             <a href="#" class="addcart-a-link"><img class="addCartimg" src="{{url_for('static', filename='images/addCart.gif')}}" height="40" width="40" alt=""></a>
            </div>
          </li>

        </li>
        <!--
         <li class="first-li "><a class="first-a-link" href="#"><i class="fa fa-user" style="font-size:36px;"></i></a></li>
         <li class="first-li "><a class="first-a-link" href="#">Logout</a></li>
         <li class="first-li "><a class="first-a-link" href="#">Settings</a></li>
       -->



        <li class="first-li-search">
        <div class="wrapper">
            <button type="submit" class="search-btn"><i class="fa fa-search search-icon"></i></button>
            <input class="search" placeholder="Search" type="text">
            <img alt="img" class="clear-icon" src="{{url_for('static', filename='images/close.png')}}" />
          </div>
        </li>




      </ul>
    </nav>
  </header>





<!--this is for search clear-->
  <script>
    const clearIcon = document.querySelector(".clear-icon");
    const searchBar = document.querySelector(".search");

    searchBar.addEventListener("keyup", () => {
      if (searchBar.value && clearIcon.style.visibility != "visible") {
        clearIcon.style.visibility = "visible";
      } else if (!searchBar.value) {
        clearIcon.style.visibility = "hidden";
      }
    });

    clearIcon.addEventListener("click", () => {
      searchBar.value = "";
      clearIcon.style.visibility = "hidden";
    })
  </script>

<!--this is for dropdown menu-->
  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }


    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>





{% block shop %}

{% endblock shop %}





  <footer>
    <p></p>
  </footer>
</body>


</html>
